@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
  }

  .custom-spin {
    animation: spin 45s linear infinite; /* Adjust the animation duration and timing function */
  }
